<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prm391x_asm1_anhnh07178funixeduvn">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PRM391x_Asm1_anhnh07178funixeduvn">
        <activity
            android:label="Phone"
            android:name=".PhoneActivity"
            android:parentActivityName="com.example.prm391x_asm1_anhnh07178funixeduvn.PhoneActivity"
            android:exported="false" />
        <activity
            android:label="SMS"
            android:name=".MessageActivity"
            android:parentActivityName="com.example.prm391x_asm1_anhnh07178funixeduvn.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>